/* sideBarMb */
.sideBarMbLayout {
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 999;
    height: 100%;
    left: -150%;
    opacity: 0;
    transition: opacity 1s,left 1s;
}

.sideBarMbLayout.open {
    left: 0;
    opacity: 1;
    transition: all .5s cubic-bezier(.25,1,.5,1);
    overflow: scroll;
}

.sideBarMbBtn {
    display: none;
    width: 34.1145833333vw;
    height: 26.8229166667vw;
    top: -3.7760416667vw;
    right: -7.421875vw;
    position: fixed;
    background: url(../img/btn_side3.png) 0 0/contain no-repeat;
    z-index: 9999;
}

.sideBarMbBtn.public {
    display: block;
    width: 310px;
    height: 245px;
    top: -40px;
    right: -67px;
}

.sideBarMbSymb::after {
    content: "";
    width: 8.8541666667vw;
    height: 8.8541666667vw;
    top: 8.203125vw;
    left: 12.2395833333vw;
    position: absolute;
    background: url(../img/icon_side3Mb_close.png) 0 0/contain no-repeat;
    cursor: pointer;
    opacity: 0;
    transition: .3s;
}

.sideBarMbBtn.public .sideBarMbSymb::after {
    width: 74px;
    height: 74px;
    top: 78px;
    left: 115px;
}

.sideBarMbSymb::before {
    content: "";
    position: absolute;
    background: url(../img/icon_side3_open.png) 0 0/contain no-repeat;
    cursor: pointer;
    transition: .3s;
    width: 10.15625vw;
    height: 7.5520833333vw;
    top: 8.8541666667vw;
    left: 11.5885416667vw;
}

.sideBarMbBtn.public .sideBarMbSymb::before {
    width: 86px;
    height: 60px;
    top: 85px;
    left: 109px;
}

.sideBarMbSymb.open::after {
    transform: rotate(-180deg);
    opacity: 1;
}

.sideBarMbSymb.open::before {
    transform: rotate(-180deg);
    opacity: 0;
}   